@import "~bootstrap/dist/css/bootstrap.min.css";

.contact-list-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  .search-filter {
    display: flex;
    width: 100%;
    position: sticky;
    z-index: 9;
    top: 0;
    padding-top: 4%;
  }

  .content-list {
    padding-top: 2%;
    ol {
      margin-left: 0;
      li {
        list-style-type: none;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  padding-right: 3%;
  // width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
